:root {
    --primary-color: #022e57;
    --secondary-color: #ff96ad;
    --gradient-color-bg: rgb(2, 46, 87);
    --gradient-color: linear-gradient(203deg, rgba(2, 46, 87, 0.8776552857471114) 35%, rgba(255, 150, 173, 0.7404003837863271) 75%);
    --primary-gradient-bg: rgb(255, 255, 255);
    --primary-gradient-color: linear-gradient(139deg, rgba(255, 255, 255, 1) 0%, rgba(2, 46, 87, 1) 66%);
    --secondary-gradient-bg: rgb(255, 255, 255);
    --secondary-gradient-color: linear-gradient(139deg, rgba(255, 255, 255, 1) 0%, rgba(255, 150, 173, 1) 75%);
}

.red-color {
    color: red;
}

.gradient-color-bg {
    background: var(--gradient-color-bg);
    background: var(--gradient-color);
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.t-primary-color {
    color: var(--primary-color);
}

.t-secondary-color {
    color: var(--secondary-color);
}

.bg-primary-color-imp {
    background-color: var(--primary-color) !important;
}

.bg-secondary-color-imp {
    background-color: var(--secondary-color) !important;
}

.t-primary-color-imp {
    color: var(--primary-color) !important;
}

.t-secondary-color-imp {
    color: var(--secondary-color) !important;
}

.t-white-color {
    color: #f7f7f7;
}

.bg-white-color {
    background-color: #f7f7f7;
    opacity: 0.85;
}

.bg-transparent-color {
    background-color: transparent;
}

.noto-sans-font {
    font-family: 'Noto Sans JP', sans-serif;
}

.noto-sans-serif-font {
    font-family: 'Noto Serif', serif;
}

.mate-sc-font {
    font-family: 'Mate SC', serif;
}

.merienda-font {
    font-family: 'Merienda', cursive;
}

.bg-secondary-gradient-cls {
    background: var(--secondary-gradient-bg);
    background: var(--secondary-gradient-color);
}

.bg-primary-gradient-cls {
    background: rgb(255, 255, 255);
    background: linear-gradient(139deg, rgba(255, 255, 255, 1) 0%, rgba(2, 46, 87, 0.8580474426098564) 100%);
}

.bg-grey-gradient-cls {
    background: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(186, 186, 186, 1) 100%);
}